.button {
  background: linear-gradient(to top, #2C070B, #D02030);
  border-radius: none;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  cursor: pointer;
}
